{{ define "content" }}
  <section class="container centered">
    <div class="about">
      {{ with .Site.Params.avatarurl }}
        <div class="avatar"><img src="{{ . | relURL }}" alt="avatar"></div>
      {{ end }}

      <h1>{{ .Site.Params.author }}</h1>

      {{ with .Site.Params.info }}
        <h2>{{ . | safeHTML }}</h2>
      {{ end }}

      {{ with .Site.Params.social }}
        <ul>
          {{ range . }}
            <li>
              <a href="{{ .url | safeURL }}" aria-label="{{ .name }}" {{ if .rel }}rel="{{ .rel }}"{{ end }} {{ if .target }}target="{{ .target }}"{{ end }}>
                <i class="{{ .icon }}" aria-hidden="true"></i>
              </a>
            </li>
          {{ end }}
        </ul>
      {{ end }}

      <br>
      <br>
      
      <div class="home-content">
        {{ .Content }}
      </div>


      
    </div>
  </section>
{{ end }}